.example-spacer {
    flex: 1 1 auto;
  }

.header {
  background-image: linear-gradient(to right, white, black);
  height: 80px;
}

.logo {
  width: 200px;
  padding: 20px;
  cursor: pointer;
}

.search-field {
  width: 50%;
  padding: 20px;
  font-size: 0.9rem;
}
