<mat-toolbar class="header">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span routerLink="/"><img class="logo" src="../../../../assets/img/logo.png"></span>
    <mat-form-field *ngIf="this.router.url === '/'"  class="search-field">
        <input #search type="search" matInput placeholder="Search" (keydown.enter)="callSearch(search.value)">
    </mat-form-field>
    <span class="example-spacer"></span>
    <span class="white" *ngIf="isLoggedIn() && this.router.url != '/login' && this.router.url !='/resetPassword' ; else notLoggedIn">
      <span class="welcome white">  Welcome, {{user().name}} </span><button title="Logout" (click)="logout()" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon class="pointer white">logout</mat-icon>
    </button>
    </span>
    <ng-template #notLoggedIn>
        <button title="Login" *ngIf="this.router.url != '/login' && this.router.url !='/resetPassword'"  routerLink="/login" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon class="pointer white">login</mat-icon>
        </button>
    </ng-template>

    <div *ngIf="isLoggedIn() && user().admin===1"  class="dropdown">
      <button title="Admin panel" routerLink="/products" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
        <mat-icon class="white">admin_panel_settings</mat-icon>
      </button>
      <div class="dropdown-content">
        <a routerLink="/products">Products</a>
        <a routerLink="/user">Users</a>
        <a routerLink="/categories">Categories</a>
      </div>
    </div>
    <button *ngIf="this.router.url != '/login' && this.router.url !='/resetPassword'"   (click)=" goToCart()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="white">shopping_cart</mat-icon>
    </button>
</mat-toolbar>


