<mat-toolbar class="header">
    <button mat-icon-button  class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
   
    <span  routerLink="/"><img class="logo" src="../../../../assets/img/logo.png"></span>
    <mat-form-field class="search-field">
        <input type="search" matInput placeholder="Search" value="">
    </mat-form-field>
    <span class="example-spacer"></span>
    <button routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="white">login</mat-icon>
    </button>
    <button routerLink="/product" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="white">admin_panel_settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="white">shopping_cart</mat-icon>
    </button>
</mat-toolbar>