<mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <span routerLink="/"><img class="logo" src="../../../../assets/img/logo.png"></span>
    <mat-form-field class="search-field">
        <input type="search" matInput placeholder="Search" value="">
    </mat-form-field>
    <span class="example-spacer"></span>

    <span class="white" *ngIf="isLoggedIn(); else notLoggedIn">
        Olá, {{user().nome}} | <a class="pointer white" (click)="logout()">Sair</a>
    </span>
    <ng-template #notLoggedIn>
        <button routerLink="/login" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon class="white">login</mat-icon>
        </button>
    </ng-template>

    <div *ngIf="isLoggedIn() && user().admin===true"  class="dropdown">
      <button  routerLink="/products" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
        <mat-icon class="white">admin_panel_settings</mat-icon>
      </button>
      <div class="dropdown-content">
        <a routerLink="/products">Products</a>
        <a routerLink="/user">Users</a>
        <a routerLink="/categories">Categories</a>
      </div>
    </div>

    <!-- <button  routerLink="/products" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon class="white">admin_panel_settings</mat-icon>
    </button> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="white">shopping_cart</mat-icon>
    </button>
</mat-toolbar>


