@import url("../../../app.component.scss");

.navbar {
  background-color: #000;
  height: 30px;
  .mat-nav-list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0;

    .mat-list-item {
      color: white;
      margin-top: -10px;
      &:hover {
        color: #ccc;
      }
    }
  }
}

.terminator-font {
  font-size: 12px !important;
  text-align: center !important;
}
