<div class="product-detail-container">
  <div class="product-image">
    <img src="{{ product?.imageUrl }}" alt="{{ product?.name }}" />
  </div>
  <div class="product-info">
    <div class="title-container">
      <h1 class="product-title terminator-font">{{ product?.name }}</h1>
      <mat-icon class="favorite-icon" (click)="toggleFavorite()">
        favorite
      </mat-icon>
    </div>
    <p class="product-category">Category: category</p>
    <p class="product-price terminator-font">{{
      product?.price | currency: "USD" : "symbol" : "1.2-2"
    }}</p>
    <p class="product-stock">In stock: {{ product?.quantity }}</p>
    <p class="product-description"
      ><strong>Description: </strong> {{ product?.description }}</p
    >
    <button mat-icon-button class="example-icon">
      <input type="text" class="cep" placeholder="CEP" /> Free delivery
      <mat-icon class="black">local_shipping</mat-icon>
    </button>
    <button (click)="buy()" class="button-terminator">Buy</button>
  </div>
</div>
