<div class="container w-25">
  <mat-card *ngIf="this.resetPassWordSteps === 'sendEmail'" class="reset p-3">
    <div class="row text-center">
      <mat-card-title class="title"
        >Receive access code by email</mat-card-title
      >
    </div>
    <mat-card-content>
      <div class="row">
        <mat-form-field>
          <input
            (keydown.enter)="resetFirstStap()"
            [errorStateMatcher]="matcher"
            matInput
            placeholder="Email"
            [formControl]="email"
            type="text"
          />
        </mat-form-field>
        <mat-error
          *ngIf="email.hasError('email') && !email.hasError('required')"
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="hasCustomError === true">
          {{ this.errorMessege }}
        </mat-error>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button [disabled]="email.invalid" (click)="resetFirstStap()" mat-button
        >next</button
      >
    </mat-card-actions>
  </mat-card>
  <mat-card
    *ngIf="this.resetPassWordSteps == 'confirmationCode'"
    class="reset p-3"
  >
    <div class="row text-center">
      <mat-card-title class="title"
        >Confirm code that is in your email</mat-card-title
      >
    </div>
    <mat-card-content>
      <div class="row">
        <mat-form-field>
          <input
            (keydown.enter)="resetSecondStep()"
            matInput
            placeholder="Enter the confirmation code"
            [formControl]="confirmationCode"
            type="text"
          />
        </mat-form-field>
        <mat-error *ngIf="hasCustomError === true">
          {{ this.errorMessege }}
        </mat-error>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button (click)="resetSecondStep()" mat-button>continue</button>
    </mat-card-actions>
  </mat-card>
  <mat-card
    *ngIf="this.resetPassWordSteps == 'resetPassword'"
    class="reset p-3"
  >
    <div class="row text-center">
      <mat-card-title class="title">Enter your new password</mat-card-title>
    </div>
    <mat-card-content>
      <div class="row">
        <mat-form-field>
          <input
            (keydown.enter)="confirmNewPassword()"
            matInput
            placeholder="Enter your new password"
            [formControl]="newPassword"
            type="password"
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button (click)="confirmNewPassword()" mat-button>reset</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="this.resetPassWordSteps == 'sucsses'" class="text-center mt-5">
    <div> Sucsses, return to login</div>
    <button routerLink="/login" mat-button class="text-center">Login</button>
  </div>
</div>
