<div class="container mt-5">
    <div class="row">
        <ng-container *ngFor="let product of products">
            <div class="col">
                <!-- Cards with media area -->
                <mat-card class="example-card">
                    <mat-card-title-group>
                        <mat-card-title>{{product.name}}</mat-card-title>
                        <mat-card-subtitle>{{product.descreption}}</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    </mat-card-title-group>
                    <mat-card-content>
                        R${{product.price}},00
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>
</div>