@use "~@angular/material" as mat;

@include mat.core();

$TerminatorSuplementos-primary: mat.define-palette(mat.$indigo-palette);
$TerminatorSuplementos-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$TerminatorSuplementos-warn: mat.define-palette(mat.$red-palette);

$TerminatorSuplementos-theme: mat.define-light-theme(
  (
    color: (
      primary: $TerminatorSuplementos-primary,
      accent: $TerminatorSuplementos-accent,
      warn: $TerminatorSuplementos-warn,
    ),
  )
);

@include mat.all-component-themes($TerminatorSuplementos-theme);
@font-face {
  font-family: terminator;
  src: url(assets/fonts/terminator.woff) format("woff2");
}

.terminator {
  font-family: terminator;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.v-middle {
  vertical-align: middle;
}

.white {
  color: white;
}
