<footer class="footer">
  <div class="footer-content">
    <div class="footer-section logo">
      <img
        class="logo"
        src="../../../../assets/img/logo.png"
        width="275px"
        height="200px"
      />
      <!-- Adicione seus links aqui -->
    </div>
    <div class="footer-section">
      <h5 class="terminator-font">Categories</h5>
      <!-- Adicione seus links aqui -->
    </div>
    <div class="footer-section">
      <h5 class="terminator-font">About</h5>
      <!-- Adicione seus links aqui -->
    </div>
    <div class="footer-section">
      <h5 class="terminator-font">Contact</h5>
      <p>terminatorsuplements&#64;outlook.com</p>
      <mat-icon class="white">admin_panel_settings</mat-icon>
      <mat-icon class="white">admin_panel_settings</mat-icon>
      <mat-icon class="white">admin_panel_settings</mat-icon>
      <mat-icon class="white">admin_panel_settings</mat-icon>
    </div> </div
  ><div class="sub-footer v-middle"
    >© Develop by Romano M. Stedile 2023. All Rights Reserved.</div
  >
</footer>
