<footer class="footer">
  <div class="footer-content">
    <div class="footer-section logo">
      <img
        class="logo"
        src="../../../../assets/img/logo.png"
        width="275px"
        height="200px"
      />
    </div>
    <div class="footer-section">
      <h5 class="terminator-font">Categories</h5>
      <tr
        *ngFor="let category of categoriesService.serviceCategoryList"
        (click)="filterByCategory(category.category_id)"
        >{{ category.name }}</tr
      >
    </div>
    <div class="footer-section">
      <h5 class="terminator-font">About</h5>
      <p class="about"
        >Terminator Supplements, is a fake e-commerce, developed in Angular and
        Node, to apply the Full Stack knowledge, with unit tests, pipelines,
        CI/CD, cloud development, etc.Is a public repository, click
        <a href="https://github.com/romanostd/TerminatorSuplements">here</a> for
        more informations.</p
      >
    </div>
    <div class="footer-section">
      <h5 class="terminator-font">Contact</h5>
      <p>terminatorsuplements&#64;outlook.com</p>
      <i class="fab fa-facebook-square icon fa-2x"></i>
      <i class="fab fa-twitter-square icon fa-2x"></i>
      <i class="fab fa-instagram-square icon fa-2x"></i>
      <i class="fab fa-linkedin icon fa-2x"></i>
      <p class="mt-2">(41) 9999-9999</p>
    </div> </div
  ><div class="sub-footer v-middle"
    >© Develop by Romano M. Stedile 2023. All Rights Reserved.</div
  >
</footer>
