name: CI-CD
on: 
  push:
    branches: ["main"]
  workflow_dispatch:
  
jobs:
  VALIDATIONS:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies and run Prettier
      working-directory: app 
      run: |
        npm install --force
        npm run format
        npm run lint
        
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16 

    - name: Install backend dependencies
      working-directory: source 
      run: npm install
      
    # - name: Run Jest tests
    #   working-directory: source 
    #   run: npm run test
  
  DOCKER:
    runs-on: ubuntu-latest
    needs: [VALIDATIONS]
    steps:
      - name: Getting the source code
        uses: actions/checkout@v3.5.3
        
      - name: Docker Login
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USR }}
          password: ${{ secrets.DOCKERHUB_PWD }}
        
      - name: Docker build frontend
        uses: docker/build-push-action@v4.1.1
        with: 
          context: ./app
          file: ./app/Dockerfile
          push: true
          tags: |
            romanostd/terminator-front:v${{ github.run_number }}
             romanostd/terminator-front:v1

      - name: Docker build backend
        uses: docker/build-push-action@v4.1.1
        with: 
          context: ./app
          file: ./app/Dockerfile
          push: true
          tags: |
            romanostd/terminator-back:v${{ github.run_number }}
             romanostd/terminator-back:v1
      

  
